.root {
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 235px;
  border-radius: 5px;

  height: 40px;
  color: #fff;
  &[data-variant='success'] {
    background: var(--bg-btn-success);
  }
  &[data-variant='decline'] {
    background: var(--bg-btn-decline);
  }
  &[data-variant='default'] {
    background: var(--bg-btn-default);
  }
}
