@import '_normalize';
@import '_theme';
body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color-primary);
  transition: background 0.1s ease;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

a {
  position: relative;
  text-decoration: none;
  &.active {
    @include gradientText;
    &:hover::before {
      display: none;
    }
  }
  &:before {
    content: '';
    width: 0px;
    position: absolute;
    top: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: var(--text-color-gradient);
    transition: 0.1s all ease;
  }
  &:hover::before {
    width: 100%;
  }
}

