.root {
  width: 450px;
  position: relative;
  & input {
    height: 65px;
    width: 100%;
    background: var(--bg-color-input);
    border: none;
    font-size: var(--font-size-18);
    color: var(--text-color-gray);
    border-radius: 8px;
    padding-left: 20px;
  }
}
.searchOptions {
  width: 100%;
  position: absolute;
  border-radius: 15px;

  top: 100%;
  z-index: 20;
  & p {
    font-size: var(--font-size-18);
    @include flex($justify: flex-start);
    gap: 10px;
    cursor: pointer;
    padding: 8px;
    background: var(--bg-color-input);

    color: var(--text-color-primary);
    &:hover {
      background: var(--text-color-secondary);
      color: var(--text-color-primary);
    }
  }
}
.searchBtn {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

