.chart {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}
.chartWrapper {
  h1 {
    color: var(--text-color-primary);
  }
}
.topBar {
  @include flex;
  gap: 10px;
  margin-bottom: 20px;
  .select {
    width: 500px;
  }
}
